<div class="container">
 <div class="row">
    <div class="col-sm-3">
    <%= image_tag "shift.gif", height:"200", width:"275" %> 
    </div>
     <div class="col-sm-3">
      <%= image_tag "scrib.gif", height:"200", width:"275" %> 
      </div>
    <div class="col-sm-3">
      <%= image_tag "epicentral.gif", height:"200", width:"275" %>
      </div>
      <div class="col-sm-3">
      <%= image_tag "cohere.gif", height:"200", width:"275" %>
      </div>
    </div>
  
 <div class="row"> 
  <div class="col-sm-3">
   <ul>
    <a href="/listing/Denver"><h3>Denver</h3></a>
   </ul> 
  </div>
  <div class="col-sm-3">
   <ul>
    <a href="/listing/Boulder"><h3>Boulder</h3></a>
   </ul>
  </div>
  <div class="col-sm-3">
   <ul>
    <a href="/listing/Colorado Springs"><h3>Colorado Springs</h3></a>
   </ul>
  </div>
  <div class="col-sm-3">
   <ul>
    <a href="/listing/Ft Collins"><h3>Ft. Collins</h3></a>
   </ul>
  </div>
</div>
  
<div class="container">
	<div class="row">
		<div class="col-sm-4"
			<ul>
      <h3>Coworking in the News</h3>
      <a href src ="http://www.bcbr.com/article/20130923/NEWS/130929982"><b>Coworking space to hold open house</b></a>
      <p>BOULDER - Spark Boulder, a new University of Colorado student-run co-working and incubator space on University Hill, is hosting an open house from 5:30 to 7 p.m. Thursday, Sept. 26.</p>
       <href src="http://blogs.denverpost.com/techknowbytes/2013/09/17/denver-startup-week-second-galvanize-location-uber-rules-and-launch-of-lyft/11362/"><a><b>Second Galvanize location coming</b></a>
       <p>DENVER - One of the big announcements scheduled to come out of Denver Startup Week 2013 will be this: Galvanize, perhaps the premier startup co-working space in the city, is expanding to a second location. The new Galvanize campus will be located at 1644 Platte St., about three miles from its first building at 1062 Delaware St.</p>
      </ul>
      </div>
   <div class="col-sm-4">
   <h3>Connect with us!<br> Follow <a href="http://twitter.com/placehol">@Cowork</a> on Twitter</h3>  
     </div>
    <div class="col-sm-4">
     <h3>Featured Cowork Space</h3>
     <iframe width="300" height="300" src="//www.youtube.com/embed/YitDQ1boMXI" frameborder="0" allowfullscreen></iframe>
  	</div>
		</div>
	</div>

